.input-group {
    margin: 1em auto;
    max-width: 500px;
}
.container {
    text-align: center;
}
.temp {
    font-size: 4em;
}
.description {
    font-size: 2em;
    font-weight: bold;
}
.temp-range{
    font-weight: bold;
}
.city-name {
    letter-spacing: 3px;
    text-transform: uppercase;
}
.weather-info {
    display: none;
}
#icon {
    font-size: 3em;
}
.main-icon {
    font-size: 5em;
}
.more-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1em auto;
    max-width: 500px;
    padding: 1em;
    font-weight: bold;
}
.day-one, .day-two, .day-three, .day-four, .day-five {
    padding: 1em;
}
body {
    background-image: url('images/bg.jpg');
    background-size: cover;
    margin: 0;position: relative;
}
.quote {
    color: black;
    padding: 12px 25px;
    display: inline-block;
    border: 9px solid black;
    border-radius: 7px;
    margin-top: 5em;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center;
    text-align: center;
    background-color: white;
}
h1 {
    text-align: center;
}
.heading {
    color: black;
    font-size: 50px;
}
.icon-one, .icon-two, .icon-three, .icon-four, .icon-five {
    font-size: 2em;
}
/* .main {
    margin: 5em auto;
    padding: 7em;
} */
#git {
    color: black;
    font-size: 100px;
	padding: 0 20px;
	display: flex;
	align-items: flex-end;
    float: right;
}
#git:hover {
    color: blue;
}
